[Desktop Entry]
Type=Application
TryExec=kitty
Exec=kitty
Icon=kitty
Terminal=false
Categories=System;TerminalEmulator;
Name=Kitty
GenericName=Terminal
Comment=A fast, feature-rich, GPU based terminal emulator
StartupNotify=true
StartupWMClass=kitty
Actions=New;
X-TerminalArgExec=
X-TerminalArgAppId=--class=
X-TerminalArgTitle=--title=
X-TerminalArgDir=--directory=

[Desktop Action New]
Name=New Terminal
Exec=kitty
